bcrypt
black
blinker
click
colorama
distlib
dnspython
email-validator
filelock
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
flask-mailman
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
lxml
MarkupSafe
mypy-extensions
mysql
mysql-connector-python
mysqlclient
packaging
pathspec
Pillow
platformdirs
protobuf
SQLAlchemy
Tcl
typing_extensions
validate-email-address
virtualenv
Werkzeug
WTForms