@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');


* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins' , sans-serif;
}
body {
        margin-left: 20px;
        margin-right:20px;
}
.header {
        top:0px;
        padding-top:20px;
        padding-right:20px;
        padding-left:20px;
        padding-bottom: 50px;
        position: fixed;
        left:0px;
        right:0px;
        display: grid;
        grid-template-columns: 11vw 1fr 11vw;
        z-index: 100;
}
@media (max-width:499px) {
        .dp-image {
                width:70px;
                height:70px;
        }
        .width {
                width:70px;
        }
        .settings span {
                width: 40px;
                height: 7px;
        }
        .settings span:nth-child(1) {
                transform: translate(0px, 10px);
        }
        .settings span:nth-child(3) {
                transform: translate(0px, -10px);
        }
        .search-wrapper {
                top:100px;
        }
        .card {
        padding: 20px;
        }
        body {
                margin-top:160px;
        }
}
@media (min-width:500px) {
        .dp-image {
                width:150px;
                height:150px;
        }
        .settings {
                width:100px;
        }
        .settings span {
                width: 70px;
                height: 15px;
        }
        .settings span:nth-child(1) {
                transform: translate(0px, 22px);
        }
        .settings span:nth-child(3) {
                transform: translate(0px, -22px);
        }
        .search-wrapper {
                top:200px;
        }
        .card {
                padding: 40px;
        }
        body {
                margin-top: 300px;
        }
}
.card-title-js {
        font-weight: 600;
        font-size: 3.7vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color:white;
}
.card-body {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        overflow-wrap: break-word;
        word-break: break-all;
        font-size: 3.5vw;
        color:white;
}
.dp-image {
        object-fit: cover;
        border-radius: 10px;
        /* box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.658); */
}
.settings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        z-index: 2000;
}
.settings span {
        position: absolute;
        background: white;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
        border-radius: 9px;
        transition: 0.2s all linear;
}
.settings.active span:nth-child(1) {
        transform: rotate(45deg);
}
.settings.active span:nth-child(3) {
        transform: rotate(-45deg);
}
.settings.active span:nth-child(2) {
        opacity: 0;
}
.search-wrapper {
        display: flex;
        position: fixed;
        left:20px;
        right:20px;  
        box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
        z-index: 100;
        border-radius: 10px;
}

.search-bar {
        flex:1;
        min-width: 0px;
        padding:5px 10px;
        border-radius: 10px;
        border:none;
        font-size:4vw;
}
.greetings {
        font-size: 4vw;
        text-align: right;
}
.user-notes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
}
.user-notes a {
        text-decoration:none;
        color:black;
}
.card {
        box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
        transition: 0.2s all linear;
        position: relative;
        z-index:1;
        cursor: pointer;
        background-color:#181D27e8;
}
.card-date {
        font-size:3vw;
        color:whitesmoke;
        position: absolute;
        bottom:5px;
        right:5px;
}
.add-note {
        position:fixed;
        bottom:100px;
        right:100px;
        z-index: 100;
        width:10vw;
        height: 10vw;
}
.btn-1 {
        cursor: pointer;
        height: inherit;
        width: inherit;
        font-size: 60px;
        color:black;
        background-color:white;
        border:none;
        padding:0px;
        border-radius: 50%;
}
.menu a:hover {
        color: grey;
}
.menu.active {
        left:0px;
}
.menu {
        position: absolute;
        flex-direction: column;
        gap: 0px;
        left: -300px;
        bottom:0px;
        top:0px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
        background-color:#181D27e8;
        transition: 0.2s all linear;
        border-radius: 5px;
        padding:10px 5px;
        z-index: 200;
        display: flex;
        padding-top:100px;
        padding-left:20px;
        padding-right:50px;
        flex-direction: column;
}
.menu a {
        font-size: 5vw;
        z-index: 500;
        font-weight: 500;
        text-decoration: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        background-color:#181D27e8;
        padding: 10px 10px;
}