{% extends "layout.html" %}
{% block content %}
        <form  class="the_form" method="POST">
                {{ form.hidden_tag() }}
                <div class="form_div">
                        <span class="field">
                                {{ form.title.label(class="form-control-label") }}
                                {% if form.title.errors %}
                                        {{ form.title(class="form-control ") }}
                                        <div>
                                                {% for error in form.title.errors %}
                                                        <span>{{ error }}</span>
                                                {% endfor %}
                                        </div>       
                                {% else %}
                                        {{ form.title(class="form-control ") }}
                                {% endif %}
                        </span>
                        <span class="field">
                                {{ form.content.label(class="form-control-label") }}
                                {% if form.content.errors %}
                                        {{ form.content(class="form-control ") }}
                                        <div>
                                                {% for error in form.content.errors %}
                                                        <span>{{ error }}</span>
                                                {% endfor %}
                                        </div>       
                                {% else %}
                                        {{ form.content(class="form-control-c form-control") }}
                                {% endif %}
                        </span>
                </div>
                <span class="submit-button">
                        {{ form.submit(class="btn") }}
                </span>
        </form>
{% endblock %}
