{% extends "layout.html" %}
{% block content %}
        <div class="header">
                <div class="dp"><img  class="dp-image" src="{{ image_file }}"></div>
                <div class="space"></div>
                <div class="settings" id="js-click">
                        <span></span>
                        <span></span>
                        <span></span>
                </div>
        </div>
        <div class="menu" id="js-menu">
                <a href="{{ url_for('users.account') }}"><span>Account</span></a>
                <a href="{{ url_for('main.about') }}"><span>About</span></a>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('users.logout') }}"><span>Log out</span></a>
                {% endif %}
        </div>
        <form class="search-wrapper" method="POST">
                {{ form.hidden_tag() }} 
                {{ form.searchterm(class="search-bar", placeholder="Looking for something....")}}
        </form>
        <div class="greetings">
                <span>
                        Hi {{ current_user.username }}!
                </span>
        </div>

        <div class="user-notes">
                {% for post in posts %}
                <a class="card" href="{{ url_for('posts.post', post_id=post.id) }}">
                        <div>
                                <div class="card-body card-title-js">{{ post.title }}</div>
                                <div class="card-body card-body-js">{{ post.content }}</div>
                                <div class="card-date">{{ post.date_posted.strftime('%Y-%m-%d') }}</div>
                        </div>
                </a>
                {% endfor %}
        </div>
        <a href="{{ url_for('posts.new_note') }}">
                <div class="add-note">
                                <button class="btn-1" type="button">+</button>
                </div>
        </a>
{% endblock %}

