{% extends "layout.html" %}
{% block content %}
        <div class="content-section">
                <form  class="the_form" method="POST">
                        {{ form.hidden_tag() }}
                        <span class="join">Reset Password</span>
                        <div class="form_div">
                                <span class="field">
                                        {{ form.password.label(class="form-control-label") }}
                                        {% if form.password.errors %}
                                                {{ form.password(class="form-control ") }}
                                                <div>
                                                        {% for error in form.password.errors %}
                                                                <span>{{ error }}</span>
                                                        {% endfor %}
                                                </div>       
                                        {% else %}
                                                {{ form.password(class="form-control ") }}
                                        {% endif %}
                                </span>
                                <span class="field">
                                        {{ form.confirm_password.label(class="form-control-label") }}
                                        {% if form.confirm_password.errors %}
                                                {{ form.confirm_password(class="form-control ") }}
                                                <div>
                                                        {% for error in form.confirm_password.errors %}
                                                                <span>{{ error }}</span>
                                                        {% endfor %}
                                                </div>       
                                        {% else %}
                                                {{ form.confirm_password(class="form-control ") }}
                                        {% endif %}
                                </span>
                        </div>
                        <span class="submit-button">
                                {{ form.submit(class="btn") }}
                        </span>
                </form>
        </div>
{% endblock %}
        
