{% extends "layout.html" %}
{% block content %}
	<div class="note_context">
		<div class="title">{{ post.title }} </div>
		<span class="separator"></span>
                <div class="note">{{ post.content }}</div>
        </div>
        <div class="buttons">
                <a href="{{ url_for('posts.update_post', post_id=post.id )}}"><button>Update Note</button></a>
                <form action="{{ url_for('posts.delete_post', post_id=post.id ) }}" method="POST">
                        <input type="submit" class="delete-button" value="Delete">
                </form>
        </div>
        <span class="date-time-stamp dts">Edited on {{ post.date_posted.strftime('%Y-%m-%d') }}</span>
{% endblock %}
